.chart-bar {
  display: flex;
  flex-direction: column;
  position: relative;
}

.chart-bar__inner {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.chart-bar__fill {
  width: 100%;
  background-color: #c9d1d5;
  border-radius: 5px;
  transition: ease-in-out 0.3s;
}

.chart-bar:hover .chart-bar__fill {
  background-color: #2d82f6;
}

.chart-bar__label {
  margin-top: 0.5rem;
}

.chart-bar__tooltip {
  display: none;
  position: absolute;
  top: 0;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
  transition: ease-in-out 0.2s;
  font-size: 0.8rem;
}

.chart-bar:hover .chart-bar__tooltip {
  display: block;
}
