.a11y-hidden {
  overflow: hidden;
  border: 0;
  margin: -1px;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

.expenses {
  margin-top: 1.5rem;
  padding: 1.5rem;
}

li + li {
  border-top: solid 1px #d5d7db;
  padding-top: 0.5rem;
}
