.new-expense {
  background-color: #fff;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-radius: 1rem;
  form {
    label {
      font-weight: bold;
      margin-right: 0.5rem;
    }
    input {
      height: 2rem;
      width: 200px;
      border: none;
      border-bottom: solid 1px #d5d7db;
    }
    .new-expense__date {
      margin-left: 0.5rem;
    }
  }
}
